@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';
.ticker-input {
  background-color: none;
  &:disabled {
    background-color: white;
    border: none;
  }
  &-edit {
    @extend .ticker-input;
    @include formInput;
  }
}
