@import '../../../styles/colors.scss';

.add-ticker-container {
  position: absolute;
  background-color: #21272a7a;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  form {
    width: fit-content;
    height: fit-content;
    padding: 3em;
    border: 2px solid $gray-90;
    background-color: $white;
    z-index: 1001;
  }
}
