@import '../../styles/colors.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.main-view {
  grid-area: 2 / 2 / 6 / 6;
}
.sidebar {
  grid-area: 2 / 1 / 6 / 2;
}
.header {
  grid-area: 1 / 1 / 2 / 6;
  h1 {
    color: $gray-90;
    text-align: center;
    &:hover {
      color: $black;
    }
  }
}
