@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.text-input {
  margin: 1em;
  input {
    @include formInput(0.75em);
  }
  label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
  }
  &-invalid {
    @extend .text-input;
    input {
      border: 2px solid $alert-60;
    }
    label {
      color: $alert-60;
    }
  }
}
