$white: #ffffff;
$black: #000000;

$gray-10: #f2f4f8;
$gray-30: #c1c7cd;
$gray-50: #878d96;
$gray-70: #4d5358;
$gray-90: #21272a;

$blue-60: #0f62fe;
$blue-70: #0043ce;
$blue-80: #002d9c;

$alert-40: #ff832b;
$alert-60: #da1e28;
