@import './colors.scss';

@mixin formInput($padding) {
  border: 2px solid $gray-10;
  border-bottom: 2px solid $gray-50;
  background-color: $gray-10;
  padding-top: $padding;
  padding-bottom: $padding;
  padding-left: 1.5em;
  padding-right: 1.5em;
  &::placeholder {
    color: $gray-50;
  }
}

@mixin button($color, $hoverColor) {
  border: none;
  margin: 1em;
  color: $white;
  padding: 0.75em 1.5em;
  background-color: $color;
  &:hover {
    background-color: $hoverColor;
  }
}
