@import './colors.scss';
@import './mixins.scss';

$font-main: 'Roboto', sans-serif;

body {
  margin: 0;
  color: $gray-90;
  font-family: $font-main;
}

.button-main,
input[type='submit'] {
  @include button($blue-60, $blue-70);
  // border: none;
  // margin: 1em;
  // color: $white;
  // padding: 0.75em 1.5em;
  // background-color: $blue-60;
  // &:hover {
  //   background-color: $blue-70;
  // }
}

.button-secondary {
  @include button($gray-70, $gray-90);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
