@import './colors.scss';
@import './mixins.scss';

$font-main: 'Roboto', sans-serif;

body {
  margin: 0;
  color: $gray-90;
  font-family: $font-main;
}

.button-main,
input[type='submit'] {
  @include button($blue-60, $blue-70);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.button-secondary {
  @include button($gray-70, $gray-90);
}

.warning {
  color: $alert-60;
}
a {
  color: $white;
  text-decoration: none;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}
